/**
 *= require css/ext-all-gray
 */
.companytable {

}
.r{
	text-align:right;
}
.textbold{
	font-weight: bold;
}
.add {
     background-image: url(/assets/icon/add.png) !important;
}
.edit {
     background-image: url(/assets/icon/edit_task.png) !important; border: none;
}

.delete {
     background-image: url(/assets/icon/delete.png) !important;
}

.user {
     background-image: url(/assets/icon/user.png) !important;
}

.database_gear {
     background-image: url(/assets/icon/database_gear.png) !important;
}

.user_gray {
     background-image: url(/assets/icon/user_gray.png) !important;
}

.picture-icon {
     background-image: url(/assets/picture-icon.png) !important;
}

.folder_user {
     background-image: url(/assets/icon/folder_user.png) !important;
}

.companies{
     background-image: url(/assets/icon/companies.png) !important; border: none; background-color: none;
}
.home-icon16{
     background-image: url(/assets/icon/house.png) !important; border: none; background-color: none;
}
.building{
     background-image: url(/assets/icon/building.png) !important; border: none; background-color: none;
}
.hrm{
     background-image: url(/assets/icon/hrm.png) !important; border: none; background-color: none;
}
.datalist, .companyinfo {
     padding-bottom: 5px;
     height: 18px;
     
}
.cultitle {
     float: left;
     width: 120px;
     text-align: right;
}
.culvalue {
     float: left;
     padding-left: 10px;

}
.btnbox {
     /*width: 16px;*/
     float: right;
     text-align: right;
     
}

.phonelist{
     /*padding: '5 0 5 0';
     border-bottom: 1px solid lightgray;*/
     /*position: relative;*/
}
.phonelist div.removeicon, .companyinfo div.removeicon{
     width: 16px;
    height: 16px;
    /*position: absolute;*/
    float: right;
    /*top: 10px;*/
    /*right: 10px;*/
    display: none;
    cursor: pointer;
}

.phonelist.phonelist-hover div.removeicon {
     display: block;
     /*background-color: #eee;*/
}
.items-hover {
    background-color: #eee;
    /*display: block;*/
    /*display: block !important;*/
   /* background-image: url(/assets/icon/edit_task.png) !important; border: none;
    background-repeat: no-repeat;
    background-position: 100%;
*/}
    
}
